## Pandas и Numpy 
![](task.png)

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import math

In [2]:
data = pd.read_csv('report.csv')
data.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
0,137.218750,45.390655,0.034985,0.134409,3.204013,17.177857,7.494588,74.003104,0
1,93.773438,41.883062,0.371402,1.291232,1.482441,12.959050,12.242911,180.158844,0
2,73.632812,35.461218,1.153607,4.161082,2.099498,13.057474,10.013591,140.894151,0
3,93.429688,39.883166,0.602060,1.518548,2.475753,14.146578,8.770640,107.970173,0
4,131.625000,44.111896,0.108905,0.239879,33.888796,70.398342,1.689460,1.031847,0

In [3]:
data.shape

(17898, 9)

### Выборка

In [4]:
viborka = data.loc[((data['TARGET'] == 0) & (data['MIP'] > 95.8984375) & (data['MIP'] < 96.4140625)) | ((data['TARGET'] == 1) & (data['MIP'] > 77.4921875) & (data['MIP'] < 83.7734375))]
viborka

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
26,96.203125,45.111729,0.773960,1.435801,2.346154,14.867269,9.468971,112.136515,0
155,80.640625,56.308821,1.481006,1.952136,27.807692,63.855448,2.179750,3.354892,1
511,96.281250,40.433769,0.518182,1.584537,2.040970,12.956545,10.757996,155.213413,0
578,80.140625,34.426265,1.697879,6.213364,7.822742,38.341936,5.048004,24.802277,1
595,80.523438,54.076185,1.390950,1.282292,66.311873,77.549955,0.870147,-0.478376,1
...,...,...,...,...,...,...,...,...,...
17154,96.171875,35.420269,0.325330,2.096321,2.729097,15.941737,8.732830,97.425233,0
17486,81.718750,52.875286,1.482041,1.538289,170.656354,80.765608,-1.002570,-0.280001,1
17515,96.085938,45.193685,0.733569,0.958316,1.693980,15.119258,11.204729,143.065131,0
17648,96.218750,42.145940,0.353843,0.970000,1.464047,13.155344,12.349430,182.561654,0
17734,96.156250,46.261559,0.666470,0.949210,2.599498,14.588421,8.495328,99.460388,0

In [5]:
viborka.shape

(197, 9)

In [6]:
viborka.MIP.mean()

88.35176078680203

ПОЧЕМУТО БД дает другое на запрос:
`SELECT * FROM pulsar_stars WHERE (TARGET = 0 AND MIP BETWEEN 95.8984375 AND 96.4140625) OR (TARGET = 1 AND MIP BETWEEN 77.4921875 AND 83.77343752)`

### Нормализация

In [7]:
data = pd.read_csv('selection_2.csv')

In [8]:
data_normalized = data.drop('TARGET', axis = 1)
data_normalized.head()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
0,96.203125,45.111729,0.773960,1.435801,2.346154,14.867269,9.468971,112.136515
1,80.640625,56.308821,1.481006,1.952136,27.807692,63.855448,2.179750,3.354892
2,96.281250,40.433769,0.518182,1.584537,2.040970,12.956545,10.757996,155.213413
3,80.140625,34.426265,1.697879,6.213364,7.822742,38.341936,5.048004,24.802277
4,80.523438,54.076185,1.390950,1.282292,66.311873,77.549955,0.870147,-0.478376

In [9]:
scaler = MinMaxScaler()
scaler.fit(data_normalized)
data_normalized = pd.DataFrame(scaler.transform(data_normalized))
data_normalized.head()

,0,1,2,3,4,5,6,7
0,0.988852,0.267196,0.252354,0.165954,0.011335,0.071655,0.393315,0.154903
1,0.166391,0.479300,0.557995,0.207376,0.160766,0.616598,0.125296,0.007057
2,0.992981,0.178583,0.141787,0.177886,0.009544,0.050400,0.440711,0.213450
3,0.139967,0.064784,0.651744,0.549223,0.043477,0.332787,0.230759,0.036206
4,0.160198,0.437008,0.519065,0.153639,0.386742,0.768935,0.077143,0.001847

In [10]:
data_normalized[0].mean()

0.5800930198669066

### Euclidean distance

In [11]:
def eucl_dist(a, b):
    return math.sqrt(np.sum((a-b)**2))

In [12]:
STAR = np.array([0.363, 0.178, 0.43, 0.292, 0.575, 0.872, 0.023, 0.161])

In [13]:
min_dist = -1
for i in range(data_normalized.shape[0]):
    dist = eucl_dist(np.array(data_normalized.iloc[i]), STAR)
    if min_dist == -1 or dist < min_dist:
        min_dist = dist
min_dist

0.24905632298378189